<div class="header">
    <h1>Интерфейс разметки</h1>

    <ul class="pure-menu-list pure-menu-horizontal">
        <li class="pure-menu-item"><a href="/" >Главная</a></li>
        <li class="pure-menu-item"><a href="/about">О проекте</a></li>
    </ul>
</div>
