<!doctype html>
<head>
    <meta charset="utf-8"/>
    <title>Boyarin</title>
</head>
<body>
    <div>
        {{#if user}}
            <a href="/auth/logout">logout</a>
        {{/if}}
    </div>
    {{{body}}}
</body>
