<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Boyarin</title>
</head>
<body>

{{#if user}}<div><a href="/auth/logout">logout</a></div>{{/if}}

{{{body}}}

</body>
</html>
