<p>У нас пока тихо. Посвятите свободное время другим полезным краудсорсинговым проектам, но не уходите слишком далеко.</p>
<ul>
    <li><a href="http://russianword.net/">Yet Another RussNet</a></li>
    <li><a href="http://opencorpora.org/">OpenCorpora</a></li>
    <li><a href="https://nlpub.ru/">NLPub</a></li>
    <li><a href="https://github.com/dustalov/mtsar">Mechanical Tsar</a></li>
</ul>
