<h2>Готово</h2>

<p>
    Спасибо! Мы получили от вас все необходимые ответы и в ближайшее время займёмся их обработкой.
</p>
<p>
    Возможно, в <a href="/">списке процессов разметки</a> есть ещё задания.
</p>
