.header h1{
  margin-bottom: 0.3em;
}

.content {
  margin: 0 auto;
  padding: 0 0.5em 0 0.5em;
  max-width: 960px;
  color: #222;
}

.content a:not(.pure-button) {
  color: blue;
}

.content a:not(.pure-button):hover {
  color: blueviolet;
}

.content table {
    width: 100%;
}

.content p {
  text-align: justify;
}

.content label {
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
}

.content label:hover {
  cursor: pointer;
}

.content .pure-button,
.pure-form button[type=submit] {
  margin: 0.5em;
}

.content .pure-button.select-stage {
  margin: 0;
  font-size: smaller;
}

.fa-exclamation {
  color: red;
}